<article class="material-sing"
(click)="openMaterial()">
    <img [src]="'http://localhost:3000' + material.main_image"
    [alt]="material.title">

    <div class="mat-info">
        <h2>
            {{material.title}}
        </h2>

        <div class="summary-container">
            <p [style.width]="privilege === 1 ? '85% !important' : '100%'">
                {{ material.summary }}
            </p>

            <!-- menu btn -->
            <button class="material-menu-btn" matButton
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()">
                <mat-icon>
                    more_vert
                </mat-icon>
            </button>
        </div>

        <p class="mat-tags">
            {{ material.tags }}
        </p>
    </div>
</article>

<!-- video adm menu -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="settingsSelect()">
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
    </button>
    <button mat-menu-item (click)="deleteSelect()">
        <mat-icon>delete</mat-icon>
        <span>Deletar</span>
    </button>
</mat-menu>