<main id="videos-page">
    @if (videos.length) {
        <div id="container-vids">
            @for(video of videos; track video.title) {
                <app-vid-card class="video-card"
                [video]="video"
                (updateData)="updateSingular($event)"
                ></app-vid-card>
            }
        </div>
    } @else {
        @if (isLoading) {
            <mat-spinner class="spinner"
            mode="indeterminate">
            </mat-spinner>
        } @else {
            <span class="noLinesText">Nenhuma linha para exibir...</span>
        }
    }

    <div class="addvideo-btn"
    (click)="newVideoDialog()">
        <mat-icon> add </mat-icon>
    </div>
</main>