.video-card {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;

    &::before {
        content: "";

        position: absolute;
        inset: -30px;

        background-image: var(--thumbnail);
        background-size: 80%;
        background-position: center;

        filter: blur(20px);

        opacity: 0;
        transform: scale(0.8);

        z-index: 0;

        transition:
            transform 0.6s cubic-bezier(0.16, 1, 0.3, 1),
            opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    }
    &:hover::before {
        opacity: 0.5;
        transform: scale(1);

        animation: floatBackground 40s linear infinite;
    }

    img, h2, .video-date {
        position: relative;
        z-index: 1;
    }

    img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 5px;
        display: block;
    }

    h2 {
        margin: 10px 0 5px;
        color: var(--color-white);
        font-size: 16px;
        font-weight: 600;
        text-align: justify;
    }

    .video-date {
        margin: 0;
        color: var(--color-light_gray);
        font-size: 14px;
        text-align: justify;
    }
}

@keyframes floatBackground {
    0% {
        transform: scale(1.1) translate(0, 0) rotate(0deg);
    }

    25% {
        transform: scale(1.1) translate(20px, -15px) rotate(90deg);
    }

    50% {
        transform: scale(1.1) translate(0, -30px) rotate(180deg);
    }

    75% {
        transform: scale(1.1) translate(-20px, -15px) rotate(270deg);
    }

    100% {
        transform: scale(1.1) translate(0, 0) rotate(360deg);
    }
}


.video-menu-btn{
    z-index: 123123;
    background-color: transparent;
    color: var(--color-white);
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;

    transition-duration: 0.2s;

    border-radius: 50%;

    &:hover{
        transform: scale(1.1);
        background-color: var(--selected-video);
        box-shadow: 0 0 10px 0 var(--selected-video);
    }
    &:active{
        transform: scale(0.9);
    }
}

.date-n-adm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}