:host {
    display: block;
    height: 100%;
}

.progression-components{
    display: block;
    height: 100%;
}

.add-btn{
    position: fixed;
    right: 30px;
    bottom: 30px;

    width: 70px;
    height: 70px;

    background-color: transparent;
    border: none;

    cursor: pointer;
    border-radius: 50%;

    color: black;

    mat-icon{
        display: flex;
        width: 100%;
        height: 100%;

        font-size: 50px;

        text-align: center;
        align-items: center !important;
        justify-content: center !important;

        transition-duration: 0.2s;

        &:hover{
            transform: scale(1.1);
        }
        &:active{
            transform: scale(0.7);
        }
    }
}