:host{
    position: sticky;
    top: 0;
    z-index: 121231;

    height: 10%;
}

.mobile-header {
    height: 100%;
    width: 100%;

    border-bottom: solid var(--color-purple1) 2px;

    background: linear-gradient(to right, var(--color-purple1), var(--color-purple2));

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    box-sizing: border-box;
}

.studdle-logo{
    height: 70%;
}

.switchpage-button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60%;
    font-size: 20px;
    padding: 0 10px;

    border: solid var(--color-white) 2px;
    border-radius: 5px;
    user-select: none;

    transition: 0.08s;
    cursor: pointer;
}

.switchpage-button:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.411);
    transform: scale(1.02);
}
